.App {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
  }
  
  #body-App {
    margin: 0px;
  }
  
  input {
    display: block;
    width: 500px;
    height: 3rem;
    margin: auto;
  }
  
  button {
    display: block;
    margin: auto;
  }
  
  .displayOutput {
    margin: 1rem;
  }
  
  .blog-dummy {
    padding: 1rem;
    margin: 0px;
    max-width: 100%;
    color: #e5e7eb;
    background-color: #64485c;
  }
  
  .section {
    padding: 10rem 0px;
    max-width: 100%;
    margin: auto;
    background-color: #e5e7eb;
  }
  
  .list {
    display: inline;
    margin: 0px;
  }
  
  .links {
    text-decoration: none;
    padding-right: 1rem;
    margin: auto;
    color: #e5e7eb;
  }
  
  .list-start {
    padding-inline-start: 0px;
  }
  
  @media screen and (max-width: 700px) {
    input {
      max-width: 90%;
      height: 3rem;
    }
    .App {
      margin: 0px;
    }
  }
  